<nav class="navbar navbar-light" style="background-color: #7bc7fd; height: 50px;">
    <div class="d-flex justify-content-center align-items-center w-100">
        <div class="ms-auto me-3 "> <!-- Use ms-auto to push the button to the right -->
            <a href="login">
                <button class="btn btn-sm btn-light btn-block" style="width: 100px;">Login</button>
            </a>
        </div>
    </div>
</nav>

<div class="card border-info">
    <img class="home-img-top smaller-img" src="assets/1.png" alt=" home page">
</div>

<nav class="navbar navbar-light" style="background-color: #7bc7fd; height: 40px;">
    <div class="d-flex justify-content-center align-items-center w-100 ">
        <p class="text-black mb-0"> &copy; 2023 All Rights Reserved</p>
    </div>
</nav>
<router-outlet></router-outlet>